<% include includes/header.ejs %>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 user-col">
        <div class="card">
          <img class="card-img-top" src="/images/cover.jpg" alt="user cover">
          <div class="card-body user-card-body">
            <h5 class="card-title"><%= loggedUser.username %></h5>
            <p>
              @
              <%= loggedUser.username %>
            </p>
            <div class="row user-card-data">
              <div class="col-xs-4">
                <p>Clones</p>
                <p>12</p>
              </div>
              <div class="col-xs-4">
                <p>Cloning</p>
                <p>800</p>
              </div>
              <div class="col-xs-4">
                <p>Cloners</p>
                <p>0</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <form class="form-inline post-form">
          <input class="form-control mr-2 mb-sm-0" type="text" id="post-input" name="post_content" placeholder="What's up?">
          <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="post-button" name="post_content_button">Post</button>
        </form>

        <ul class="list-group post-list" id="post-list">
          <% for(var i = 0; i < postList.length; i++){ %>
            <% if (loggedUser.following.includes(postList[i].author_username)) { %>
              <li class="list-group-item">
                <div class="media post-media">
                  <img class="mr-3" src="/images/profile.jpg" alt="user pic">
                  <div class="media-body">
                    <h6><%= postList[i].author_username %></h6>
                    <p>
                      @
                      <%= postList[i].author_username %>
                    </p>
                    <p class="post-text">
                      <%= postList[i].main_content %>
                    </p>
                  </div>
                </div>
              </li>
              <% } %>
                <% } %>
        </ul>
      </div>

      <div class="col-sm-3 discover-col">
        <h2 class="discover-header">Discover</h2>
        <div class="discover-container">
          <ul class="list-group post-list" class="discover-list" id="discover-list">
            <% for(var i = 0; i < userList.length; i++){ %>
              <li class="list-group-item">
                <div class="card">
                  <img class="card-img-top" src="/images/cover.jpg" alt="user cover">
                  <div class="card-body user-card-body">
                    <div class="row">
                      <div class="col-md-6">
                        <h5 class="card-title"><%= userList[i].username %></h5>
                        <p>@
                          <%= userList[i].username %>
                        </p>
                      </div>
                      <div class="col-md-6">
                        <div class="row user-card-data">
                          <% if (loggedUser.following.includes(userList[i].username)) { %>
                            <button class="btn btn-outline-success follow-button" type="button" data-user-username="<%= userList[i].username %>" id="follow-button">Following</button>
                            <% }else{ %>
                              <button class="btn btn-outline-success follow-button" type="button" data-user-username="<%= userList[i].username %>" id="follow-button">Follow</button>
                              <% } %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    $(function() {
      $('.post-form').on('click', '#post-button', function() {
        var form_data = $('#post-input').serialize();
        $.ajax({
          method: 'POST',
          url: '/post',
          data: form_data
        });
        $('.post-form')[0].reset();
        $('.post-form input').first().focus();
      });

      $('#discover-list').on('click', '.follow-button', function(event) {
        var button = $(this);
        var userUsername = $(this).attr('data-user-username');
        $.ajax({
          method: 'POST',
          url: `/follow/${userUsername}`
        }).done(function(response) {
          if (response) {
            button.html('Following');
          } else {
            button.html('Follow');
          }
        });
      });
    });
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">
    var socket = io();
    socket.on('newPost', (data) => {
      console.log(data.data);
      $('#post-list').prepend(
        `<li class="list-group-item">
          <div class="media post-media">
            <img class="mr-3" src="/images/profile.jpg" alt="user pic">
            <div class="media-body">
              <h6>${data.data.author_username}</h6><p>@${data.data.author_username}</p>
              <p class="post-text">${data.data.main_content}</p>
            </div>
          </div>
        </li>`
      );
    });
  </script>
  </body>

  </html>